:root {
	--primary: #e8662a;
	--secondary:  #cececd;
	--background: #cececd;
}

*, *:before, *:after {
  box-sizing: border-box;
}

html,
body {
	padding: 0;
	margin: 0;
	font-family: yu-mincho-pr6,sans-serif;
	color: #e8662a;
	text-align: center;
}

body {
	display: grid;
	height: 100vh;
	grid-template-rows: auto 1fr auto;
	background-color: var(--background);
	justify-content: center;
}

main {
	max-width: 40em;
	justify-content: center;
}

p,
pre,
code {
	line-height: 1.5;
}

a[href],
a[href]:visited {
	color: var(--primary);
	font-family: yu-mincho-pr6,sans-serif;
}

a[href]:not(:hover) {
	text-decoration: none;
}

img {
	max-width: 100%;
	height: auto;
	display: block;
	align-items: center;
	justify-content: center;
	margin: auto;
}

header,
main
 {
	padding: 1em;
	justify-content: center;
	position: sticky;
 }
 footer {
	justify-content: center;
	padding: 1em;
	margin-bottom: auto;
}

main {
	padding-bottom: 2em;
}

main :first-child,
main > article :first-child {
	margin-top: 0;
}

pre {
	font-size: 14px;
	direction: ltr;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	-moz-tab-size: 2;
	tab-size: 2;
	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
	padding: 1em;
	margin: .5em 0;
}

/* Header Logo (style as h2) */
header > em {
	display: block;
	font-size: 2em;
	font-weight: normal;
	font-style: normal;
	margin: .67em 0;
	text-align: center;
}

/* Header Nav */
header nav ul {
	padding: 2em 0 0 0;
	list-style: none;
	writing-mode: vertical-lr;
	text-orientation: mixed;
}

header nav ul :first-child {
	margin-right: 0px;
}

header nav li {
	display: inline-block;
	margin: 0 .25em;
}

header nav li a {
	padding: .25em .5em;
	border-radius: .25em;
}

header nav li a[href]:not(:hover) {
	text-decoration: none;
}

header nav li a[data-current="current item"] {
	background-color: none;
	font-family: yu-mincho-pr6,sans-serif;
}

/* Posts List */
article {
	margin-bottom: 1em;
	padding-bottom: 1em;
	border-bottom: 1px solid #e8662a;
	border-bottom: 1px solid var(--secondary);
}

main > section > article > * {
	margin-top: 0;
	margin-bottom: .5em;
}

/* Post Tags */
a[rel="tag"],
a[rel="tag"]:visited {
	display: inline-block;
  vertical-align: text-top;
  text-transform: uppercase;
	letter-spacing: .1em;
  font-size: .625em;
  padding: 0 .5em;
	line-height: 2em;
	height: 2em;
  border: 1px solid var(--secondary);
	background-color: var(--secondary);
	color: var(--primary);
  border-radius: .25em;
  text-decoration: none;
	margin: 0 .5em .5em 0;
	text-decoration-color: #e8662a;
}

a[rel="tag"]:hover {
	border: 1px solid var(--primary);
	background-color: var(--primary);
	color: var(--secondary);
}

a[rel="tag"]:last-child {
	margin-right: 0;
}

/* Contact Form */
form {
  display: grid;
	padding: 2em 0;
}

form label {
  display: none;
}

input,
textarea,
button {
  width: 100%;
  padding: 1em;
  margin-bottom: 1em;
	font-size: 1rem;
	font-family: yu-mincho-pr6,sans-serif;
}

input,
textarea {
	border: 1px solid  #e8662a;
}

input,
select {
	border: 1px solid  #e8662a;
}

input,
select,
button {
	width: 100%;
	padding: 1em;
	margin-bottom: 1em;
	  font-size: 1rem;
	  font-family: yu-mincho-pr6,sans-serif;
  }

button {
	border: 1px solid var(--primary);
	background-color: var(--primary);
	color: var(--secondary);
	cursor: pointer;
}

@media screen and (min-width:768px) {
	:root {
		font-size: 1.1rem;
	}
}

@font-face {
	font-family: PanamaBold;
	src: url('/static/fonts/PanamaMonospaceBold.woff') format('woff');
	font-weight: 500;
	font-display: swap;
}

@font-face {
	font-family: PanamaItalic;
	src: url('/static/fonts/PanamaMonospaceItalic.woff') format('woff');
	font-weight: 400;
	font-display: swap;
}
@font-face {
	font-family: yu-mincho-pr6,sans-serif;
	font-weight: 400;
	font-style: normal;
}